<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/trefle888.styles.css" asp-append-version="true" />

   
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-xxl navbar-light bg-light sticky-top bg-body-tertiary">

            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/resources/logo.png" id="homeLogoButton" alt="" width="110" height="90" class="d-inline-block align-text-center">

                    <strong> &nbsp;  Trefle-8 </strong>
                </a>


         <!-- toggle button -->
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Menu">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="collapse navbar-collapse " id="navbarContent">

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex justify-content-center align-items-center" >
                        <li class="nav-item dropdown"> 
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </li>

                        <li class="nav-item dropdown" id="shopButton">
                            <a class="nav-link dropdown-toggle text-xl-center" href="Home/Shop" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Shop
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="Shop">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Shop">Suits</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Shop">Ties</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Shop">Accessories</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" id="aboutUs" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
                        </li>

                        <li class="nav-item dropdown" id="cartButton">
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Cart">
                                <img src="/resources/cart.png" id="accountLogo" alt="Acclogo" width="50" height="50" class="d-inline-block align-text-center" />
                            </a>
                        </li>


                        <li class="nav-item dropdown" id="accButton">
                            <a class="navbar-brand" href="/Home/Login">
                                <img src="/resources/account.png" id="accountLogo" alt="Acclogo" width="50" height="50" class="d-inline-block align-text-center">
                                &nbsp; My Account
                            </a>
                        </li>

                      
                       
                    </ul>
                    
                </div>
            </div>
        </nav>


        <!-- Page Transition Overlay -->
        <div id="transitionPage" class="hidden text-center">
            <img src="~/resources/logo.png" alt="companyNameLogo" id="transitionLogo" class="fade-in" />
        </div>
</header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main> 
    </div>
</body>
  
</html>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
