
<link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />


<div class="text-center text-capitalize" id="no1">

    <a class="btn btn-primary" data-bs-toggle="collapse" href="#whoCollapse" role="button" aria-expanded="false" aria-controls="whoCollapse">Who are we ?</a>

    <div class="collapse multi-collapse" id="whoCollapse">
        <div class="card card-body">
            We are trefle 8 , A boutique of elegance
        </div>
    </div>
</div>



<div class="text-center text-capitalize" id="no2">
    <a class="btn btn-primary btn" data-bs-toggle="collapse" href="#missionCollapse" role="button" aria-expanded="false" aria-controls="missionCollapse">Our Mission</a>
    <div class="collapse multi-collapse" id="missionCollapse">
        <div class="card card-body">
            Treflé 8 is more than just a boutique; it's a destination for those who appreciate timeless elegance and unparalleled quality. 
            We are committed to redefining the fashion industry by offering a curated collection of suits that exude sophistication and individuality.
            Our mission is to empower our clients to make a statement, whether they're stepping into a boardroom or a social gathering. 
             We strive to provide an exceptional shopping experience, from personalized styling advice to impeccable customer service.
             By blending traditional tailoring techniques with contemporary design, we aim to create timeless pieces that elevate our clients'
             style and confidence.
        </div>
    </div>
</div>

<div class="text-center text-capitalize" id="no3">
    <a class="btn btn-primary btn" data-bs-toggle="collapse" href="#valuesCollapse" role="button" aria-expanded="false" aria-controls="valuesCollapse">Our values</a>
    <div class="collapse multi-collapse" id="valuesCollapse">
        <div class="card card-body">
            Treflé 8 is more than just a boutique; it's a destination for those who appreciate timeless elegance and unparalleled quality.
            We are committed to redefining the fashion industry by offering a curated collection of suits that exude sophistication and individuality.
        </div>
    </div>
</div>


<div class="text-center text-capitalize" id="no4">
    <a id="authorsButton" class="btn btn-primary btn" data-bs-toggle="collapse" href="#authorsCollapse" role="button" aria-expanded="false" aria-controls="authorsCollapse">Authors</a>
    <div class="collapse multi-collapse" id="authorsCollapse">
        <div class="card card-body" id="ourNames">
            Ahmed Gohary  &nbsp;  Mostafa Hagras  &nbsp;  Karim Amr &nbsp;   Carol Hany  &nbsp;  Hussein Ashour
        </div>
    </div>
</div>
       
