

@{
    ViewData["Title"] = "AboutUs";
}
<link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
<div class="text-center">
    <h1>AboutUs</h1>
 </div>

 <div class="text-center">
    <h3 id="aboutUsNames"> We are the creators! <br />Ahmed gohary <br />Mostafa Hagras <br /> Carol hany <br />hussien Amr <br />karim amr </h3>
</div>