

@{
    ViewData["Title"] = "AboutUs";
}
<link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />



<div class="card">
    <div class="card-front">
        <p class="title">Who Are We?</p>
      
    </div>  
    <div class="card-back">
        <p id="content">Who Are We?aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
</div>

<div class="card" id="card2">
    <div class="card-front">
        <p class="title">Who Are We?</p>

    </div>
    <div class="card-back">
        <p id="content">Who Are We?aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </div>
</div>