@{
    ViewData["Title"] = "Treffle 8";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<script src="~/js/Index.jsasp-append-version="true"></script>


<div class="page1__container">
    
    
    
    <div class="home__content">
        <div class="content">
            <h2>Trefle-8,<br>Elevate Your Style With a Tailored Suit</h2>
            <p>We provide the best tailored suits in the market made specially for you to suit any occasion.</p>
        </div>
        <div class="link">
            <a href="#" class="hire">Shop Now</a>
        </div>
    </div>



</div>

