@model IEnumerable<trefle888.Models.Users>

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<script src="~/js/Login.js"></script>

 

<div class="container">

    <input type="checkbox" id="register_toggle">

    <div class="slider">



        <!-- Right Section -->
        <div class="login">

            <div class="login-left">
                <img height="725" width="575" src="~/resources/loginimg.jpg" alt="no image" id="1" />
            </div>

            <div class="login-right">
                <form asp-action="LoginLogic" method="post" class="login-form">
                          @if (TempData["ErrorMessage"] != null)
                          {
                                <div id="message" class="error-message">@TempData["ErrorMessage"]</div>
                                TempData.Clear();

                          }
                          @if (TempData["SignUpFailed"] != null)
                          {
                              <div id="message" class="error-message">@TempData["SignUpFailed"]</div>
                                TempData.Clear();

                          }
                          @if (TempData["SignUpSuccess"] != null)
                          {
                              <div id="message1" class="error-message">@TempData["SignUpSuccess"]</div>
                                TempData.Clear();
                          }

                    <h1>Login</h1>
                    <input type="text" class="input-field" placeholder="Username" required />
                    <input type="password" class="input-field" placeholder="Password" required />

                    <div class="terms">
                        <input type="checkbox" id="accept-terms" required />
                        <label for="accept-terms">Accept Terms & Conditions</label>
                    </div>

                    <button type="submit" class="btn">Login </button>
                    <span class="bottom_text">Don't have an account? <label for="register_toggle" class="swtich">Sign Up</label> </span>
                </form>
            </div>


        </div>




        <div class="signup-container">

            <!-- Left Section -->
            <div class="signup-left">
                <img height="725" width="575" src="~/resources/loginimg.jpg" alt="no image" id="1" />
            </div>

            <!-- Right Section -->
            <div class="signup-right">
                <form asp-action="SignUpLogic" method="post" class="signup-form">

                    <h1>Sign Up</h1>
                    <input type="text" class="input-field" placeholder="Username" required />
                    <input type="email" class="input-field" placeholder="Email address" required />
                    <input type="password" class="input-field" placeholder="Password" required />

                    <div class="terms">
                        <input type="checkbox" id="accept-terms" required />
                        <label for="accept-terms">Accept Terms & Conditions</label>
                    </div>

                    <button type="submit" class="btn">Join us</button>
                    <span class="bottom_text">Already have an account? <label for="register_toggle" class="swtich">  Sign In</label> </span>
                </form>
            </div>



        </div>






    </div>

</div>









