
<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
 
<div class="container">
    
    <input type="checkbox" id="register_toggle">

    <div class="slider">


        <form class="form" >

            <img src="~/resources/logo.png" height="90" width="110" />
            <span class="title">Login</span>
            <div class="form_control">
                <input type="text" class="input" placeholder="Username"  required="">
               
            </div>
            <div class="form_control">
                <input type="password" class="input" placeholder="Password" required="">
                
            </div>
            <button>Login</button>

            <span class="bottom_text">Don't have an account?<label for="register_toggle" class="swtich">Sign Up</label> </span>

        </form>

         

        <form class="form">
            <img src="~/resources/logo.png"  height="90" width="110"/>

            <span class="title">Sign Up</span>
            <div class="form_control">
                <input type="text" class="input" placeholder="Username" required="">
               
            </div>
            <div class="form_control">
                <input type="email" class="input" placeholder="Email" required="">
                
            </div>
            <div class="form_control">
                <input type="password" class="input" placeholder="Password" required="">
               
            </div>
            <button>Sign Up</button>

            <span class="bottom_text">Already have an account? <label for="register_toggle" class="swtich">Sign In</label> </span>
        </form>


    </div>
</div>









