@model IEnumerable<trefle888.Models.Users>

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
<script src="~/js/Login.js"></script>


<div class="container">

    <input type="checkbox" id="register_toggle">

    <div class="slider">


        <form asp-action="LoginLogic" method="post" class="form" >

            <img src="~/resources/logo.png" height="90" width="110" />
            <span class="title">Login</span>
            @if (TempData["ErrorMessage"] != null)
            {
                <div id="message" class="error-message">@TempData["ErrorMessage"]</div>
                TempData.Clear();

            }
            <div class="form_control">
                <input type="text" name="Username" id="login_username" class="input" placeholder="Username"  required=""> 
            </div>

            <div class="form_control">
                <input type="password" name="Password" id="login_password" class="input" placeholder="Password" required="">

            </div>
            <button><strong>Login</strong></button>

            <span class="bottom_text">Don't have an account? <label for="register_toggle" class="swtich">Sign Up</label> </span>

        </form>



        <form asp-action="SignUp" method="post" class="form" onsubmit="validateForm(event)">
            <img src="~/resources/logo.png"  height="90" width="110"/>

            <span class="title">Sign Up</span>
            <div class="form_control">
                <input type="text" id="signup_username" class="input" placeholder="Username" required="">

            </div>
            <div class="form_control">
                <input type="email" id="signup_email" class="input" placeholder="Email" required="">

            </div>
            <div class="form_control">
                <input type="password" id="signup_password" class="input" placeholder="Password" required="">

            </div>
            <button><strong>Sign Up</strong></button>

            <span class="bottom_text">Already have an account? <label for="register_toggle" class="swtich">  Sign In</label> </span>
           

        </form>

        

    </div>

</div>



 





