@{
    ViewData["Title"] = "Shop";
}
<link rel="stylesheet" href="~/css/shop.css" asp-append-version="true" />

 <div class="container" >
    <div class="row ">
        <figure class="col-sm-6 col-lg-4" >
             <!-- #region  img img-fluid 3l4ane lma kont bs8r elscreen kano bylz2o fy b3d-->
          <img src="~/resources/suit1.jpg" class="img-fluid rounded" alt=" suit1 not found" width="400" height="500" >
          <figcaption>
             <p id="caption">REGULAR FIT TRAVELER BlAZER</p>
             <p id="price">EGP 6,599</p>
          </figcaption>
          
        </figure>
        <figure class="col-sm-6 col-lg-4" >
             
          <img src="~/resources/suit2.jpg" class="img-fluid rounded" alt=" suit2 not found" width="400" height="500" > 
           <figcaption> 
             <p id="caption">REGULAR FIT PREMIUM WOOL DOUBLE BREASTED BlAZER</p>
             <p id="price">EGP 9,740</p>
           </figcaption>
          
        </figure>
        <figure class="col-sm-6 col-lg-4">
            <img src="~/resources/suit3.jpg" class=" img-fluid rounded " alt="suit3 not found" width="400" height="500">
            <figcaption>
                <p id="caption">REGULAR FIT PREMIUM WOOL BlAZER</p>
               <p id="price">EGP 8,250</p>
            </figcaption>
            </figure>
            <figure>
             <figure class="col-sm-6 col-lg-4">
               <img src="~/resources/suit4.jpg" class=" img-fluid rounded " alt="suit4 not found" width="400" height="500">
              <figcaption>
                <p id="caption">SLIM FIT TRAVELER BlAZER</p>
                <p id="price">EGP 5,250</p>
             </figcaption>
            </figure>
        
    </div>
 
</div>