

/*=====================Inner Body==========================*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #d5d5d5;
    /* height: 2000px; */

}


    /*Body text*/

.content1 {
    margin-top: 250px;
    max-width: 600px;
    color: #fff;
}


    .content1 h2 {
        font-size: 60px;
        color: black;
    }

    .content1 p {
        margin-top: 10px;
        line-height: 25px;
        color: #191922;
        font-size: 20px;
    }

.link {
    margin-top: 30px;
}

.hire {
    color: #000;
    text-decoration: none;
    background: #fff;
    padding: 9px 25px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
}

.link .hire:hover {
    transition: all 0.8s ease;
    background: transparent;
    border: 1px solid #fff;
    color: brown;
}

.page1__photo1{
    display:flex;
    margin-top:-480px;
    margin-left: 600px;
}

/*
.mySwiper {
    position: relative;
    height: 700px;

}

swiper-container {
      margin-left: -200px;
      width: 800px;
      height: 100%;
      margin-top: 190px;
      z-index: 0;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
    /*
       display: flex;
      justify-content: center;
      align-items: center;
    }

        swiper-slide img {
            display: block;
            width: 700px;
            height: 700px;
            object-fit: cover;
        }
 */

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */


.socials {
    position: absolute;
    padding: 0 7%;
    transform: translateY(-50%);
    margin-left: -190px;
    margin-top: -50px;
}

    .socials a {
        color: black;
        font-size: 23px;
        transition: all .6s;
        margin-left: 100px;
        text-decoration:none;
    }
       /* .socials a :hover {
            transform: translate(3ch, 3mm);
            transition: 0.8s;
            color: brown;
        }*/

.ri-meta-line:hover {
    transition: 0.8s;
    color: blue;
}

.ri-youtube-fill:hover {
    transition: 0.8s;
    color: red;
}

.ri-twitter-x-line:hover {
    transition: 0.8s;
    color: white;
}



@media screen and (max-width: 1200px) {
    
    .homecontent{
        align-self:center;
    }
    .page1__photo1 {
        margin-left: 0;
        margin-top: 00px;
        transition: 0.6s ease;
    }

    #trefle8_hometext{
        margin-top:-150px;
    }

    #big_home_text{
        margin-top: 20px;
        margin-bottom:30px;
    }

    .home__content p{
        font-size: 15px;
    }

    .link{
        margin-top: 60px;
    }

    .socials{
        margin-top: 200px;
        margin-left:0px;
        padding-bottom: 100px;
    }

}


@media screen and (max-width: 560px) {
    .page1__photo1{
        display: none;
        transition-delay: 5s;
        transition: ease-out;
    }

}