

/*=====================Inner Body==========================*/

body {
    background-color: #d5d5d5;
    height: 2000px;
}


    /*Body text*/

.content {
    margin-top: 260px;
    max-width: 600px;
    color: #fff;
}

    .content h2 {
        font-size: 60px;
        color: black;
    }

    .content p {
        margin-top: 10px;
        line-height: 25px;
        color: #191922;
    }

.link {
    margin-top: 30px;
}

.hire {
    color: #000;
    text-decoration: none;
    background: #fff;
    padding: 9px 25px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
}

.link .hire:hover {
    background: transparent;
    border: 1px solid #fff;
    color: brown;
}

.page1__photo1{
    margin-top:-430px;
    margin-left: 600px;
    
}


.mySwiper {
    position: relative;
    height: 700px;

}

swiper-container {
      margin-left: -200px;
      width: 800px;
      height: 100%;
      margin-top: 190px;
      z-index: 0;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
    /*  background: #fff; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

        swiper-slide img {
            display: block;
            width: 700px;
            height: 700px;
            object-fit: cover;
        }


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 601px) {
    .content p {
        color: transparent;
    }
    .content h2 {
        color: transparent;
    }

}

