
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right,#808080,#000000);
    color: #333;
}

/* Signup Container */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 150px auto; /* Space from the top */
    height: 700px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 150px 50px auto; /* Space from the top */
    height: 700px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
}


.container .slider {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 190%;
    transition: transform ease-in-out 1s;
    position: absolute;
    margin: 0;
}


#register_toggle {
    display: none;
}

.container #register_toggle:checked + .slider {
    transform: translateX(-50%);
}


/* Right Section */
.signup-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.signup-form {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

    .signup-form h2 {
        font-size: 26px;
        color: #333;
        margin-bottom: 20px;
    }


.login-form {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

    .login-form h2 {
        font-size: 26px;
        color: #333;
        margin-bottom: 20px;
    }

    h1{
        margin-bottom:8%;

    }

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
}

.terms {
    margin: 15px 0;
    font-size: 14px;
    color: #555;
}

    .terms label {
        margin-left: 5px;
    }

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    background-color: #716d6d;
    color: #fff;
    cursor: pointer;
}



    .btn:hover {
        background-color: #555;
    }



.bottom_text .swtich {
    font-weight: 700;
    cursor: pointer;
}
/* Responsive Design */
@media (max-width: 768px) {

    .signup-container {
        flex-direction:column-reverse;
        height: auto;
    }

    .login {
        flex-direction: column-reverse;
        height: auto;
      
    }


   
}



.error-message {
    color: #ff3333;
    font-size: 12px;
    margin-top: 5px;
}

.input-error {
    border-color: #ff3333;
}

#message{
    font-size:larger;
    font-weight:600;
    margin-left:0%;
}

#message1 {
    font-size: larger;
    font-weight: 600;
    margin-left: 0%;
    color:#256505
}